{% extends 'base.html' %}

{% block content %}
<h1>Gestión de Marcas</h1>
<form method="post">
    <label for="nombre_categoria">Nombre de la Marca:</label>
    <input type="text" id="nombre_categoria" name="nombre_categoria">
    <button type="submit">Guardar</button>
</form>
<table>
    <tr>
        <th>Nombre de la Marca</th>
        <th>Acciones</th>
    </tr>
    {% for marca in marcas %}
    <tr>
        <td>{{ marca.nombre_categoria }}</td>
        <td>
            <a href="{{ url_for('editar_marca', id=marca.id) }}">Editar</a>
            <a href="{{ url_for('borrar_marca', id=marca.id) }}">Borrar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
